<<<<<<< HEAD
name: Deploy Astro

on:
  push:
    branches: [main]
=======
name: Deploy Astro to GitHub Pages

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
>>>>>>> 3972432d9adbcf5053c5183c963cf551d0ab69c6

permissions:
  contents: read
  pages: write
  id-token: write

<<<<<<< HEAD
=======
concurrency:
  group: "pages"
  cancel-in-progress: true

>>>>>>> 3972432d9adbcf5053c5183c963cf551d0ab69c6
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
<<<<<<< HEAD
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-pages-artifact@v3
=======
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build

      - name: Disable Jekyll
        run: touch ./dist/.nojekyll

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
>>>>>>> 3972432d9adbcf5053c5183c963cf551d0ab69c6
        with:
          path: dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
<<<<<<< HEAD
    steps:
      - uses: actions/deploy-pages@v4
=======
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
>>>>>>> 3972432d9adbcf5053c5183c963cf551d0ab69c6
